[Unit]
Description=GPT-OSS 20B General on 8157
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Environment="CUDA_SCALE_LAUNCH_QUEUES=4x"
Environment="GGML_CUDA_GRAPH_OPT=1"
Environment="GGML_CUDA_FORCE_CUBLAS_COMPUTE_16F=1"

ExecStart=/home/radek/src/llama.cpp-mtp/build/bin/llama-server \
  --gpt-oss-20b-default \
  --alias gpt-oss-20b \
  --host 127.0.0.1 \
  --port 8157 \
  -ngl 999 \
  -fa on \
  -c 131072 \
  --cache-type-k q8_0 \
  --cache-type-v q8_0 \
  --kv-unified \
  --cache-ram 16384 \
  --cache-idle-slots \
  --cache-reuse 512 \
  -b 16384 \
  -ub 4096 \
  --parallel 1 \
  --threads 8 \
  --cpu-range 0-9 \
  --threads-batch 16 \
  --cpu-range-batch 10-19 \
  --threads-http 4 \
  --prio 2 \
  --poll 50 \
  --jinja \
  --temp 0.7 \
  --top-k 40 \
  --top-p 0.95 \
  --min-p 0.0 \
  --keep -1 \
  --metrics \
  --slots

Restart=on-failure
RestartSec=5
LimitNOFILE=1048576

[Install]
WantedBy=default.target
